/* Bootstrap Pagination Only */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 1rem 0;
}

.page-link {
    border-radius: 0.5rem;
    position: relative;
    display: block;
    padding: 0.375rem 0.75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #212121;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    color: #212121;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    color: #9a9a9a;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    /* background-color: #2563eb;  */
    background-color: #212121;
    border-color: #9a9a9a;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.haader-details-section {
    display: flex;
    justify-content: space-between; /* Space out the items */
    align-items: center; /* Align items vertically centered */
}

.details-section-Edit {
    cursor: pointer; /* Optional: Add a cursor to indicate it's clickable */
}
